@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #e60000;
}

header{
    position: sticky;
    top: 0px;
    background-color: #2b2e2e;
    width: 100%;
    z-index: 1000;
}

.clearfix {
    overflow: auto;
 }

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn{
    flex: 3;
    display: flex;
}

.nav-links{
    flex: 2;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo{
    color: gold;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
    color: #fff;
}

#slider {
    overflow: hidden;
    margin-bottom: 20px;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 22s slider infinite;
}
#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    35% {
        left: -100%;
    }
    50% {
        left: -100%;
    }
    60% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    80% {
        left: -300%;
    }
    90% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}


div.homecontent {
    background-color: #ebebe0;
    width: 1000px;
    padding-left: 40px;
    margin: 0 auto;

}

div.homecontent h1{
    font-family: calibri;
    font-size: 45px;
    text-align: center;
    color: #333333;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 30px;
}

div.homecontent h1 span{
    font-family: calibri;
    color: gold;
    font-style: italic;
}

div.home-col {
    width: 313.33px;
    float: left;

}


div.home-col h2 { 
    margin: 30px 0 30px 0;
    font-size: 25px;
    font-weight: normal;
    font-weight: 600;
}

div.home-col a {
    float: right;
    padding-right: 30px;
    margin-bottom: 40px;
}

div.home-col p{
    margin-right: 30px;
}

div.services {
    margin-bottom: 20px;
}

div.services img {
    width: 50px;
    float: left;
    margin-right: 15px;
}

div.services p {
    margin-top: 0;
    margin-top: 10px;
    margin-bottom: 15px; 
    font-size: 15px; 
    color: #444;

}

div.quote {
    float: left;
}

div.quote i {
    float: left;
    font-size: 25px;
}

div.quote h3 {
    margin-top: 20px;
    margin-left: 15px;
    float: left;
}

div.quote p {
    clear: both;
    margin-top: 10px; 
    margin-bottom: 15px; 
    font-size: 15px; 
    color: #444;
    padding-right: 15px;
}

.btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    background-color: #fff;
    color: #303434;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: #fff;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
    color: gold;
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: #707070;
    color: #fff;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #303434;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #303434;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #707070;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #303434;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}
    
.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

#portfolio{
    width:100%;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 2% 30px 2%;
    background-color: #f5f5f0;
    margin-top: 20px;

}

.p-headind{
    font-family: calibri;
    font-size: 45px;
    text-align: center;
    color: #333333;
    font-weight: 600;
    background-color: #f5f5f0;
    margin-bottom: 30px;
    margin-top: 30px;
    
}
.p-headind span{
    font-family: calibri;
    color: gold;
    font-style: italic;
}
.p-box{

    background-color: gold;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
    position: relative;

}
.p-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p-container{
    width: 100%;
    height:100%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}
.overlay-text{
    font-family: calibri;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 214, 51, 0.80);
    display:none;
    
}
.overlay-text h1,p{
    color: #1f1f14;
    font-weight: 600;
}
.overlay-text h1{
    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    
}
.overlay-text p{
    font-size: 1.2rem;
    margin: 0px;


}
.p-box:hover .overlay-text{
    display: flex;
    
}

footer{
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #111;
    padding-top: 20px;
    color: #d9d9d9;
    }
    .main-content{
      display: flex;
    }
    .main-content .box{
      flex-basis: 50%;
      padding: 10px 20px;
    }
    .box h2{
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .box .content{
      margin: 20px 0 0 0;
      position: relative;
    }
    .box .content:before{
      position: absolute;
      content: '';
      top: -10px;
      height: 2px;
      width: 100%;
      background: #1a1a1a;
    }
    .box .content:after{
      position: absolute;
      content: '';
      height: 2px;
      width: 15%;
      background: #ffcc00;
      top: -10px;
    }
    .left .content p{    
      text-align: justify;
      font-size: 14px;
      font-weight: 500;
      color: #d9d9d9;
    }
    .left .content .social{
      margin: 20px 0 0 0;
    }
    .left .content .social a{
      padding: 0 2px;
      color: #d9d9d9;
    }
    .left .content .social a span{
      height: 35px;
      width: 35px;
      line-height: 35px;
      background: #1a1a1a;
      text-align: center;
      font-size: 14px;
      border-radius: 5px;
      transition: 0.3s;
    }
    .left .content .social a span:hover{
      background: #ffcc00;
    }
    .center .content .fas{
      font-size: 14px;
      background: #1a1a1a;
      height: 35px;
      width: 35px;
      line-height: 35px;
      text-align: center;
      border-radius: 50%;
      transition: 0.3s;
      cursor: pointer;
      }
    .center .content .fas:hover{
      background: #ffcc00;
    }
    .center .content .text{
      font-size: 14px;
     font-weight: 500;
     padding-left: 10px;
    }
    .center .content .phone{
      margin: 15px 0;
    }
    .right form .text{
     font-size: 14px;
     margin-bottom: 2px;
     color: #656565;
    }
    .right form .msg{
      margin-top: 10px;
    }
    .right form input, .right form textarea{
      width: 100%;
     font-size: 14px;
     background: #151515;
     padding-left: 10px;
     border: 1px solid #222222;
    }
    .right form input:focus,
    .right form textarea:focus{
      outline-color: #3498db;
    }
    .right form input{
      height: 35px;
    }
    .right form .btn{
      margin-top: 10px;
      background-color: #ffcc00;
      width: 98%;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .right form .btn button{
        border: none;
        outline: none;
        background-color: #ffcc00;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: .3s;
    }
    .right form .btn button:hover{
      background: #ffcc00;
    }
    .bottom {
        width: 100%;
    }
    .bottom center{
      padding: 5px;
      font-size: 13px;
      background: #151515;
    }
    .bottom center span{
      color: #656565;
    }
    .bottom center a{
      color: #ffcc00;
      text-decoration: none;
    }
    .bottom center a:hover{
      text-decoration: underline;
    }

@media(max-width:1500px){
   .p-container{
        width:100%;
    
    }
}


@media (max-width: 1000px){
    section{
        background-image:none;
    }
    .model{
        display: none;
    }

    #slider {
        margin-bottom: 20px;
    }

    .hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    .nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #41494a;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: #3c3f3f;
    }

    .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #303434;
        display: none;
    }
    
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .dropdown-link > a{
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow{
        z-index: 1;
        background-color: #3f4343;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow{
        background-color: #303434;
    }

    .dropdown .dropdown .arrow{
        display: none;
    }

    .dropdown-link:hover > a{
        background-color: #303434;
    }

    .dropdown-link:first-child:hover ~ .arrow{
        background-color: #303434;
    }

    .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }

    footer{
    padding-top: 25px;
    background-color: #111;
    height: 100%;
    }

    .main-content{
    flex-wrap: wrap;
    flex-direction: column;
    }
    .main-content .box{
    margin: 5px 0;
    }

    .p-container{
        grid-template-columns:1fr 1fr;
    grid-template-rows:auto;
    grid-gap: 10px;
        height: auto;
    }
    
    .p-box {
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 10px;
    }
    .p-headind{
        font-size: 26px;
        width: 100%;
    }

div.homecontent {
    width: 100%;
    background-color: #ebebe0;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

div.home-col {
    width: 100%;
    float: left;
}



div.home-col h2 { 
    margin: 30px 0 30px 0;
    font-size: 21px;
    font-weight: normal;
    font-weight: 600;
}

div.home-col a {
    float: right;
    margin-right: 20px;
}

div.services {
    margin-bottom: 20px;
}

div.services img {
    width: 50px;
    float: left;
}

div.services p {
    margin-top: 0;
    margin-top: 10px;
    margin-bottom: 15px; 
    font-size: 14px; 
    color: #444;
}

div.quote {
    float: left;
}

div.quote i {
    float: left;
    font-size: 40px;
}

div.quote h3 {
    margin-top: 20px;
    float: left;
}

div.quote p {
    clear: both;
    margin-top: 10px; 
    margin-bottom: 15px; 
    font-size: 14px; 
    color: #444;
}

}

@media(max-width:650px){
    .p-container{
        grid-template-columns:1fr ;
        grid-template-rows: auto;
}
div.homecontent h1{
    font-family: calibri;
    font-size: 30px;
    text-align: center;
    color: #333333;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 30px;
}

div.homecontent h1 span{
    font-family: calibri;
    color: gold;
    font-style: italic;
}

}